@model PAS.ResourceCenter.Web.Administration.ViewModels.Account.ChangePasswordViewModel

<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<form action="/Home/ChangePassword"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-mode="replace"
      data-ajax-update="#divmodalchangemypassword"
      data-ajax-success="onSuccess">
    @Html.AntiForgeryToken()
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="clearData();">
                    &times;
                </button>
                <h4 class="modal-title">Change My Password</h4>
            </div>
            <div class="modal-body no-padding">
                @Html.ValidationBootstrap()
                <div class="smart-form" style="margin-top:-5px;">
                    <fieldset>
                        <section>
                            <div class="row">
                                <label class="label col col-4 field-background" style="text-align:right;"><b><span style="color:red; font-size:14px;">*</span>&nbsp;Old Password</b></label>
                                <div class="col col-8">
                                    <label class="input">
                                        <i class="icon-append fa fa-key"></i>
                                        @Html.PasswordFor(m => m.OldPassword, new { placeholder = "", autocomplete = "off", required = "required", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.OldPassword)
                                    </label>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <label class="label col col-4 field-background" style="text-align:right;"><b><span style="color:red; font-size:14px;">*</span>&nbsp;New Password</b></label>
                                <div class="col col-8">
                                    <label class="input">
                                        <i class="icon-append fa fa-key"></i>
                                        @Html.PasswordFor(m => m.NewPassword, new { placeholder = "", autocomplete = "off", required = "required", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.NewPassword)
                                    </label>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <label class="label col col-4 field-background" style="text-align:right;"><b><span style="color:red; font-size:14px;">*</span>&nbsp;Re-type New Password</b></label>
                                <div class="col col-8">
                                    <label class="input">
                                        <i class="icon-append fa fa-key"></i>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "", autocomplete = "off", required = "required", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </label>
                                </div>
                            </div>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearData();">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>

