<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ await Html.RenderPartialAsync("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive
    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <ul>
            <li class="@Html.RouteIf("Home", "active")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-lg fa-fw fa-comments"></i> <span class="menu-item-parent">Reviews</span></a>
            </li>
            <li class="@Html.RouteIf("Issues", "active")">
                <a href="@Url.Action("Issues", "Issues")"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">Issues</span></a>
            </li>
            <li class="@Html.RouteIf("Reviewers", "active")">
                <a href="@Url.Action("Reviewers", "Reviewers")"><i class="fa fa-lg fa-fw fa-institution"></i> <span class="menu-item-parent">Reviewers</span></a>
            </li>
            <li class="@Html.RouteIf("Users", "active")">
                <a href="@Url.Action("Index", "Users")"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Users</span></a>
            </li>
            <li class="@Html.RouteIf("ReviewProperties", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-file-text"></i> <span class="menu-item-parent">Review Properties</span></a>
                <ul>
                    <li class="@Html.RouteIf("Disciplines", "active")">
                        <a href="@Url.Action("Disciplines", "ReviewProperties")">Disciplines & Topics</a>
                    </li>
                    <li class="@Html.RouteIf("Sectors", "active")">
                        <a href="@Url.Action("Sectors", "ReviewProperties")">Sectors</a>
                    </li>
                    <li class="@Html.RouteIf("Regions", "active")">
                        <a href="@Url.Action("Regions", "ReviewProperties")">Regions</a>
                    </li>
                    <li class="@Html.RouteIf("Competencies", "active")">
                        <a href="@Url.Action("Competencies", "ReviewProperties")">Competencies</a>
                    </li>
                </ul>
            </li>            
            @if (User.IsInRole(Constants._rolePASAdministrator))
            {
                <li class="@Html.RouteIf("Admin", "active")">
                    <a href="#"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Administration</span></a>
                    <ul>
                        <li class="@Html.RouteIf("SiteSettings", "active")">
                            <a href="@Url.Action("SiteSettings", "Admin")">Site Settings</a>
                        </li>
                        <li class="@Html.RouteIf("Logs", "active")">
                            <a href="@Url.Action("Logs", "Admin")">Logs</a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->